[submodule "lib/libsbp"]
	path = lib/libsbp
	url = https://github.com/swift-nav/libsbp.git
[submodule "lib/mavlink"]
	path = lib/mavlink
	url = https://github.com/mavlink/mavlink.git
[submodule "lib/dronekit-python"]
	path = lib/dronekit-python
	url = https://github.com/dronekit/dronekit-python.git
