[submodule "libsbp"]
	path = libsbp
	url = https://github.com/swift-nav/libsbp.git
[submodule "mavlink"]
	path = mavlink
	url = https://github.com/mavlink/mavlink.git
[submodule "dronekit-python"]
	path = dronekit-python
	url = https://github.com/dronekit/dronekit-python.git
